.grow {
    flex-grow: 1;
}

.searchWrap {
    position: relative;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.15);
}
.search {
    position: absolute;
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputWrap {
    color: inherit !important; /*TODO fix this*/
    padding-left: 80px;
}

.input {
    color: inherit;
}